:root {
  --main-bg-color: #42c1d5;
  --neutral-bg: #fbf7f5;
  --border: black;
  --neobrut-accent-1: #1e948a;
  --neobrut-accent-2: #ff84e4;
  --neobrut-accent-3: #ffbf00;
  --neobrut-accent-4: #f44400;
  --select-focus: #f44400;
  --neo-shadow-small: 0.2rem 0.2rem 0 var(--border);
  --neo-shadow: 0.3rem 0.3rem 0 var(--border);
  --neo-border: 0.2rem solid var(--border);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  max-width: 80rem;
  padding-left: 12%;
  padding-right: 12%;
}

h2 {
  font-family: "Secular One", sans-serif;
  color: var(--border);
}

footer {
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: var(--neutral-bg);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-bg);
  color: black;
  font-family: "Space Mono", monospace;
}

.nb-border {
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 22rem;
  border: var(--neo-border);
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: var(--neo-shadow);
}

.green {
  background-color: var(--neobrut-accent-1);
}

.yellow {
  background-color: var(--neobrut-accent-3);
}

.nb-btn {
  border: var(--neo-border);
  padding: 0.8rem;
  margin: 1rem;
  width: 85%;
  margin: auto;
  font-weight: 800;
  font-size: 1.4rem;
  position: relative;
  background-color: var(--neutral-bg);
  box-shadow: var(--neo-shadow);
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

.nb-btn:hover {
  box-shadow: 0rem 0rem 0 var(--border);
  transform: translateY(0.1rem);
  transition: all 0.1s ease;
}

select {
  appearance: none;
  background-color: var(--neutral-bg);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select {
  width: 12%;
  height: 2rem;
  border: 0.15em solid var(--border);
  box-shadow: var(--neo-shadow-small);
  padding: 0.25em 0.3em;
  margin: 0.2em;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1.1;
  text-align: center;
}

#note-selects-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.4rem;
  background: var(--neutral-bg);
  outline: solid 0.15rem black;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 0;
  box-shadow: none;
  background: black;
  cursor: pointer;
}

#oscillator-options {
  background-color: var(--neobrut-accent-3);
}

#envelope-options {
  background-color: var(--neobrut-accent-2);
}

#play-options {
  height: 53rem;
  width: 30rem;
  background-color: var(--main-bg-color);
}

#vibrato-options {
  background-color: var(--neobrut-accent-1);
}

#delay-options {
  background-color: var(--neobrut-accent-4);
}

.form-control {
  line-height: 1;
  margin-top: 1em;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}

input {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--neutral-bg);
  margin: 0;
  font: inherit;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid var(--border);
  border-radius: 0%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 1rem;
}

input[type="radio"]::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  border-radius: 0;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 2em 1em var(--border);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.inline-lable {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--border);
  color: var(--neutral-bg);
  font-size: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  height: 1rem;
}

@media only screen and (max-width: 62em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 65rem;
  }
  .nb-border,
  #play-options {
    align-items: center;
    min-height: 40rem;
    max-width: 55rem;
    width: 100%;
    margin-bottom: 5rem;
  }
  #delay-options {
    margin-bottom: 10rem;
  }
  footer {
    position: fixed;
    font-size: 1.3rem;
    height: 1.6rem;
  }
  body {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  #note-selects-div {
    width: 100%;
  }
  .slider::-webkit-slider-thumb {
    height: 2.5rem;
    width: 2.5rem;
  }
  .slider {
    height: 2rem;
  }
  .select {
    height: 2.5rem;
    font-size: 1.4rem;
  }
}
